<launch>

<rosparam file="$(find proof_of_concept_3_dof_legs_description)/config/individual-pos.yaml" command="load"/>

<node args="lf1_position_controller  rf1_position_controller  rh1_position_controller  lh1_position_controller 
            lf2_position_controller rf2_position_controller rh2_position_controller lh2_position_controller 
            lf3_position_controller rf3_position_controller rh3_position_controller lh3_position_controller 

joint_state_controller " name="controller_spawner" ns="proof_of_concept_3_dof_legs" output="screen" pkg="controller_manager" respawn="false" type="spawner"/>
<node name="robot_state_publisher" output="screen" pkg="robot_state_publisher" respawn="false" type="robot_state_publisher">
  <remap from="/joint_states" to="/proof_of_concept_3_dof_legs/joint_states"/>
</node>

</launch>