<launch>

<rosparam file="$(find teststandv2_description)/config/individual-pos.yaml" command="load"/>

<node 
  ns="teststandv2"
  name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen"  
  args="slider_position_controller l1_position_controller l2_position_controller l3_position_controller joint_state_controller " 
/>

<node name="robot_state_publisher" output="screen" pkg="robot_state_publisher" respawn="false" type="robot_state_publisher">
  <remap from="/joint_states" to="/teststandv2/joint_states"/>
</node>

</launch>