<launch>
  <param name="robot_description" command="xacro --inorder 
  '$(find simple_drive_practice)/urdf/simple_skid_steer.urdf.xacro'" />
  
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
  </include>
  <node name="spawn_urdf" pkg="gazebo_ros"
                          type="spawn_model"
                          respawn="false"
                          args="-param robot_description -urdf -model hokuyobot" />
 <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" ns="/simple_skid_steer" args="skid_steer_drive_controller"/>

 <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
   respawn="false" output="screen">
  </node>
</launch>
